.home {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 30px;

    .choiceUser {
        // border: 1px solid;
        width: 300px;
        display: flex;
        justify-content: space-around;
    }

    .user {
        border: 1px solid;
        width: 80%;
        height: 60%;
        display: flex;
        justify-content: space-around;
    }
}