.App {
  border: 1px solid;
  height: 100vh;
  display: flex;
  flex-direction: row;

  .page{
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
